:root{
    --light-black: #1d1813;
    --cyan: #339e96;
    --dark-cyan:#334B49;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:62.5%;
}

.home-section{
    width: 100%;
    height: 100vh;
    display: flex;
}
.home-title-container{
    width: 33%;
    min-width: 22rem;
    height: auto;
    background-color:var(--light-black);
    /* background: rgb(29,24,19);
    background: linear-gradient(0deg, rgba(29,24,19,1) 29%, rgba(51,158,150,1) 91%); */
    display: flex;
    align-items: flex-end;
}
.home-title-container h2{
    font-size:3rem;
    color: white;
    margin-bottom: 4rem;
}
.home-title-container h1{
    font-size:5.5rem;
    color: white;
    position: absolute;
    margin-top: 4rem;
}
.home-title-container p {
    font-size:2.5rem;
    background-color: var(--cyan);
    margin-top: 4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.text-container{
    display:grid;
    grid-template-rows: auto auto auto;
    margin-left: 3rem;
    margin-bottom: 8rem;
}
.home-img-container{
    width: 67%;
    height: auto;
    background-image: url(./assets/tecladoInvertido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-img-container nav{
    width: 100%;
    height:4rem;
    background-color: var(--cyan);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home-img-container nav a{
    text-decoration:none;
    font-weight:400;
    color:white;
    border-radius:0.5rem;
    font-size: 1.5rem;
}



.about-section{
    width: 100%;
    height: auto;
    background-color:var(--cyan);
    display: flex;
    flex-direction: row;
    /* background: rgb(29,24,19);
    background: linear-gradient(0deg, rgba(29,24,19,1) 0%, rgba(51,158,150,1) 6%); */
}
.about-photo{
    width: 33%;
    min-width: 22rem;
    display: flex;
    justify-content: center;
    align-items:center;
}
.about-photo img{
    width: 60%;
    margin: 4rem 0;
    border-radius: 1.5rem;
    box-shadow: -40px -40px 10px ,40px 40px 10px var(--light-black);
}
.about-text-container{
    width:67%;
    background-color: var(--cyan);
    padding:5rem;
    /* background: rgb(29,24,19);
    background: linear-gradient(0deg, rgba(29,24,19,1) 0%, rgba(51,158,150,1) 6%); */
}
.about-text-container h2{
    font-size:3rem;
    color: white;
    margin-bottom: 2rem;
}
.about-text-container p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.5rem;
}


.projects-section{
    width: 100%;
    background-color: var(--cyan);
    border-top: 1px solid var(--light-black);
    /* background: rgb(29,24,19);
    background: linear-gradient(180deg, rgba(29,24,19,1) 0%, rgba(51,158,150,1) 4%); */
}
.projects-section div{
    padding: 0 4rem 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.projects-section h2{
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 2rem;
}
.projects-container{
    width: 100%;
    margin: 2rem auto;
    max-width: 30%;
    height: auto;
    background-color: var(--light-black);
    border-radius: 2rem;
    box-shadow: 10px 10px 5px var(--dark-cyan);
    border: 3px solid var(--light-black);
}
.projects-container img{
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.projects-container a{
    text-decoration: none;
}
.projects-container h3{
    font-size:1.5rem;
    color: white;
    padding: 1rem;
    text-align: center;
}
.projects-container p{
    font-size:1rem;
    color: white;
    padding:1rem;
    text-align: center;
}

footer{
    width: 100%;
    height: 4rem;
    background-color: var(--light-black);
    display: flex;
    align-items:center;
    justify-content:space-around ;
}
footer a{
    font-size: 2rem;
    color: white;
}